In [1]:
import pandas as pd
import os 
#import vcf
import pandas_plink as pplk

In [2]:
def print_file(path):
    a_file = open(path)
    lines = a_file.readlines()
    for line in lines:
        print(line)

In [3]:
# decompress and read VCF

In [4]:
raw_data_path = "./raw_data/"
tbi_file = "ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz.tbi"
vcf_file = "ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz"
samples_file = "integrated_call_samples_v3.20130502.ALL.panel"

In [5]:
# using PLink1
os.system("./plink_tool/v1/plink --vcf "+raw_data_path+vcf_file+" --make-bed --out chr22_fileset_1")
print_file("chr22_fileset_1.log")

PLINK v1.90b6.23 64-bit (28 May 2021)

Options in effect:

  --make-bed

  --out chr22_fileset_1

  --vcf ./raw_data/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz



Hostname: nexorens

Working directory: /home/lorens/projects/hub/python_plink

Start time: Fri Jun  4 08:48:44 2021



Random number seed: 1622807324

15917 MB RAM detected; reserving 7958 MB for main workspace.

Error: Missing header line in .vcf file.



End time: Fri Jun  4 08:48:44 2021

In [6]:
# using PLink 2
os.system("./plink_tool/v2/plink2 --vcf "+raw_data_path+vcf_file+" --make-bed --out chr22_fileset_2")
print_file("chr22_fileset_2.log")

PLINK v2.00a3LM 64-bit Intel (25 May 2021)

Options in effect:

  --make-bed

  --out chr22_fileset_2

  --vcf ./raw_data/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5b.20130502.genotypes.vcf.gz



Hostname: nexorens

Working directory: /home/lorens/projects/hub/python_plink

Start time: Fri Jun  4 08:48:44 2021



Random number seed: 1622807324

15917 MiB RAM detected; reserving 7958 MiB for main workspace.

Using up to 4 compute threads.

Error: --vcf file decompression failure: GzRawStreamRead: gzipped file appears

to be truncated.



End time: Fri Jun  4 08:48:44 2021

In [7]:
gen = pplk.read_plink1_bin("chr22_fileset_1.bed", "chr22_fileset_1.bim", "chr22_fileset_1.fam", verbose=False)

ValueError: No BED file has been found.

In [8]:
samples_df = pd.read_csv(raw_data_path+samples_file, sep='\t', header=0)
samples_df

       sample  pop super_pop  gender  Unnamed: 4  Unnamed: 5
0     HG00096  GBR       EUR    male         NaN         NaN
1     HG00097  GBR       EUR  female         NaN         NaN
2     HG00099  GBR       EUR  female         NaN         NaN
3     HG00100  GBR       EUR  female         NaN         NaN
4     HG00101  GBR       EUR    male         NaN         NaN
...       ...  ...       ...     ...         ...         ...
2499  NA21137  GIH       SAS  female         NaN         NaN
2500  NA21141  GIH       SAS  female         NaN         NaN
2501  NA21142  GIH       SAS  female         NaN         NaN
2502  NA21143  GIH       SAS  female         NaN         NaN
2503  NA21144  GIH       SAS  female         NaN         NaN

[2504 rows x 6 columns]

In [9]:
# Filter Samples
selected_samples = samples_df[samples_df['pop'].str.contains("JPT|TSI")]

In [10]:
selected_samples.drop_duplicates('pop')

       sample  pop super_pop  gender  Unnamed: 4  Unnamed: 5
1906  NA18939  JPT       EAS  female         NaN         NaN
2294  NA20502  TSI       EUR  female         NaN         NaN